body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.App header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

main {
    padding: 20px;
}

.github-logo {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

a {
    color: #333;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

section#work-in-progress {
    margin-top: 50px;
}
